<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classe Java</title>
</head>
<body>
<h1>Classe Java gerada:</h1>
<pre><code>
public class <span th:text="${classJava.nomeClasse}"></span> {
    <span th:each="field : ${classJava.atributos}">
        <span th:text="${field.tipo}"></span> <span th:text="${field.nome}"></span>;
    </span>

    public <span th:text="${classJava.nomeClasse}"></span>() {
        // construtor vazio
    }

    <span th:each="field : ${classJava.atributos}">
        public <span th:text="${field.tipo}"></span> get<span th:text="${#strings.capitalize(field.nome)}"></span>() {
            return <span th:text="${field.nome}"></span>;
        }

        public void set<span th:text="${#strings.capitalize(field.nome)}"></span>(<span th:text="${field.tipo}"></span> <span th:text="${field.nome}"></span>) {
            this.<span th:text="${field.nome}"></span> = <span th:text="${field.nome}"></span>;
        }
    </span>
}
    </code></pre>
</body>
</html>
